<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Files</title>
</head>
<body>
<div>
    <h1 th:text="${error}"></h1>
</div>
<form>

    <div th:if="${video != null and username!=null}">
        <a href="/upload/video" role="button">Dodaj video</a><br></br><br></br>
        <a  th:href="${'/files/picture/' + username}" role="button">Slike</a><br></br><br></br>
        <a  th:href="${'/files/pdf/' + username}" role="button">PDF</a><br></br><br></br>
    <label>Korisnik id: </label>
    <p th:text="${video[0].getKorisnikID()}"/>
    <div th:if="${not #arrays.isEmpty(video)}">
        <div th:each="v : ${video}">
            <label>Video: </label>
            <video th:="${v.getVideo()}"/>
            <a th:href="${'/download/video/' + v.getVideoID()}"> Download video</a>
        </div>
    </div>
    </div>
    <div th:if="${slika != null and username!=null}">
        <a href="/upload/picture">Promijeni sliku</a><br></br><br></br>
        <a  th:href="${'/files/video/' + username.toString()}" role="button">Video</a><br></br><br></br>
        <a  th:href="${'/files/pdf/' + username.toString()}" role="button">PDF</a><br></br><br></br>
        <label>Korisnik id: </label>
        <p th:text="${slika.getKorisnikID()}"/>
        <div>
            <div>
                <label>Slika: </label>
                <video th:="${slika.getSlika()}"/>
                <a th:href="${'/download/picture/' + slika.getSlikaID()}"> Download picture</a>
            </div>
        </div>
    </div>
    <div th:if="${pdf != null and username!=null}">
        <a href="/upload/pdf" role="button">Dodaj PDF</a><br></br><br></br>
        <a  th:href="${'/files/video/' + username.toString()}" role="button">Video</a><br></br><br></br>
        <a  th:href="${'/files/pictures/' + username.toString()}" role="button">Slika</a><br></br><br></br>
        <label>Korisnik id: </label>
        <p th:text="${pdf[0].getKorisnikID()}"/>
        <div th:if="${not #arrays.isEmpty(pdf)}">
            <div th:each="v : ${pdf}">
                <label>PDF: </label>
                <video th:="${v.getVideo()}"/>
                <a th:href="${'/download/pdf/' + v.getVideoID()}"> Download PDF file</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>