<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Metadata</title>
</head>
<body>
<form>
    <h1>Metadata!</h1>
    <div th:if="${podaci != null}">
        <div th:if="${not #arrays.isEmpty(podaci)}">
            <div th:each="p : ${podaci}">
               <p th:text="${p.getDatum()}"></p>
                <p th:text="${p.getIme()}"></p>
                <p th:text="${p.getPrezime()}"></p>
                <p th:text="${p.getUsername()}"></p>
                <p th:text="${p.getVideoId()}"></p>
            </div>
        </div>
    </div>
</form>
</body>
</html>