<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PDF upload</title>
</head>
<body>
<form action="/upload/pdf" method="post" enctype="multipart/form-data">
    <a th:href="${'/files/pdf/'+ username}" role="button">PDF</a><br></br><br></br>
    <label >Izaberi fajl: </label><br></br><br></br>
    <input type="file" name="pdf" accept="application/pdf"/><br></br><br></br>
    <input type="submit" value="Spremi"/>
</form>
</body>
</html>